@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --line-border-empty: #e0e0e0;
    --line-border-fill: #3498db;
}

body{
    font-family: 'Muli', sans-serif;
    background-color: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    position: relative; 
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0%;
    height: 4px;
    transition: 0.4s ease;
    z-index: -1;
}

.circle {
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.6s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    padding: 8px 30px;
    margin: 5px;
    border: 0;
    font-family: inherit;
    font-size: 14px;
    background-color: var(--line-border-fill);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}

 /* to create a button press effect */
.btn:active {
    transform: scale(0.97);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

